table.data-grid {
    width: 100%;
    border-collapse: collapse;
}

.data-grid tr {
    border-bottom: gainsboro 1px solid;
}

.data-grid thead tr {
    text-align: left;
}

.data-grid th, .data-grid td {
    padding: 15px;
}

.data-grid tbody tr:hover {
    background-color: #EEEEEE;
}

.data-grid tbody tr:last-child {
    border-bottom: none;
}
